n8n/email-otp-workflow.json
{
  "name": "AidPulse — Email OTP (Gmail)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aidpulse-email-otp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "aidpulse-email-otp"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.body.email }}",
        "subject": "Your AidPulse SG verification code",
        "emailType": "text",
        "message": "=Hi,\n\nYour AidPulse SG verification code is: {{ $json.body.code }}\n\nIt expires in 10 minutes. If you didn't request this, you can ignore this email.\n\n— AidPulse SG · One App. Faster Response.",
        "options": { "senderName": "AidPulse SG" }
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [280, 300],
      "credentials": {
        "gmailOAuth2": { "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true } }}",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [560, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]]
    },
    "Send Email": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
