n8n/latest-updates-ingest.json
{
  "name": "AidPulse — Latest Updates ingest (latest_updates)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 15 }] }
      },
      "id": "schedule",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 200]
    },
    {
      "parameters": {
        "jsCode": "// Trusted, public health / pandemic RSS sources (real article URLs + real\n// article photos via og:image). Add more health feeds freely.\nreturn [\n  { json: { url: 'https://www.who.int/rss-feeds/news-english.xml' } },\n  { json: { url: 'https://news.un.org/feed/subscribe/en/news/topic/health/feed/rss.xml' } }\n];"
      },
      "id": "sources",
      "name": "Health sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 200]
    },
    {
      "parameters": { "url": "={{ $json.url }}", "options": {} },
      "id": "rss",
      "name": "Read feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [480, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Normalize + enrich: for each article fetch its page and read og:image so the\n// card shows the real photo. source_name is derived from the link domain.\n// Only items with a real photo are kept. Runs once for all items (async).\nfunction srcOf(link){\n  if (link.includes('who.int')) return 'World Health Organization';\n  if (link.includes('news.un.org')) return 'UN News';\n  if (link.includes('cdc.gov')) return 'US CDC';\n  if (link.includes('channelnewsasia')) return 'CNA';\n  if (link.includes('straitstimes')) return 'The Straits Times';\n  try { return new URL(link).hostname.replace(/^www\\./, ''); } catch (e) { return 'Health News'; }\n}\nfunction safeISO(v){ const t = v ? Date.parse(v) : NaN; return Number.isNaN(t) ? null : new Date(t).toISOString(); }\nconst rows = [];\nfor (const item of $input.all()) {\n  const j = item.json || {};\n  const link = j.link || j.guid;\n  const title = (j.title || '').trim();\n  if (!link || !title) continue;\n  let image = null;\n  try {\n    const html = await this.helpers.httpRequest({ url: link, headers: { 'User-Agent': 'Mozilla/5.0' }, timeout: 12000 });\n    const m = String(html).match(/property=[\"']og:image[\"'][^>]+content=[\"']([^\"']+)/i)\n          || String(html).match(/name=[\"']twitter:image[\"'][^>]+content=[\"']([^\"']+)/i);\n    if (m) image = m[1];\n  } catch (e) {}\n  if (!image) continue; // keep only items with a real photo\n  rows.push({\n    title: title.slice(0, 300),\n    summary: (j.contentSnippet || j.summary || '').replace(/<[^>]+>/g, '').trim().slice(0, 300) || null,\n    source_name: srcOf(link),\n    source_url: link,\n    category: 'Public Health',\n    location: 'Global',\n    severity: null,\n    image_url: image,\n    published_at: safeISO(j.isoDate || j.pubDate)\n  });\n}\nreturn rows.map((r) => ({ json: r }));"
      },
      "id": "normalize",
      "name": "Normalize + og:image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "jsCode": "// De-dupe by source_url and emit a single array so the upsert is one request.\nconst seen = new Set();\nconst rows = [];\nfor (const item of $input.all()) {\n  const r = item.json;\n  if (!r || !r.source_url || seen.has(r.source_url)) continue;\n  seen.add(r.source_url);\n  rows.push(r);\n}\nreturn [{ json: { rows: rows.slice(0, 15) } }];"
      },
      "id": "collect",
      "name": "Collect rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pjwzvugfzynzvwthqcxi.supabase.co/rest/v1/latest_updates?on_conflict=source_url",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "<SUPABASE_SERVICE_ROLE_KEY>" },
            { "name": "Authorization", "value": "Bearer <SUPABASE_SERVICE_ROLE_KEY>" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.rows) }}",
        "options": {}
      },
      "id": "upsert",
      "name": "Upsert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 200]
    }
  ],
  "connections": {
    "Every 15 min": { "main": [[{ "node": "Health sources", "type": "main", "index": 0 }]] },
    "Health sources": { "main": [[{ "node": "Read feed", "type": "main", "index": 0 }]] },
    "Read feed": { "main": [[{ "node": "Normalize + og:image", "type": "main", "index": 0 }]] },
    "Normalize + og:image": { "main": [[{ "node": "Collect rows", "type": "main", "index": 0 }]] },
    "Collect rows": { "main": [[{ "node": "Upsert to Supabase", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
