n8n/latest-updates-ingest.json
{
  "name": "AidPulse — Latest Updates ingest (latest_updates)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 15 }] }
      },
      "id": "schedule",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 200]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=Singapore%20%28dengue%20OR%20COVID%20OR%20influenza%20OR%20flu%20OR%20vaccine%20OR%20outbreak%20OR%20measles%20OR%20hospital%20OR%20MOH%20OR%20NEA%20OR%20%22public%20health%22%29%20when%3A30d&hl=en-SG&gl=SG&ceid=SG:en",
        "options": {}
      },
      "id": "rss",
      "name": "Google News (SG health)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [240, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Normalize Google News (or any RSS) entries -> latest_updates rows, keeping\n// only health items. Google News titles look like 'Headline - Publisher', so\n// we split the publisher off into source_name. These feeds carry no image, so\n// image_url is left null and the app fills a themed local image at render.\nconst RX = /\\b(dengue|covid|coronavirus|vaccin\\w*|influenza|flu|virus\\w*|hospitals?|outbreaks?|diseases?|measles|hfmd|mosquito\\w*|infections?|healthcare|health|wellness|booster|epidemic|pandemic|fever|diabetes|cancer|MOH|NEA|HSA|HPB)\\b/i;\nfunction pickImg(o){ if(!o) return null; if(typeof o==='string') return o; return (o.$ && o.$.url) || o.url || null; }\nconst rows = [];\nfor (const item of $input.all()) {\n  const j = item.json || {};\n  const link = j.link || j.guid;\n  let title = (j.title || '').trim();\n  if (!link || !title) continue;\n  let source = j.creator || '';\n  const m = title.match(/^(.*?)\\s+-\\s+([^-]+)$/);\n  if (m) { title = m[1].trim(); if (!source) source = m[2].trim(); }\n  if (!RX.test(title + ' ' + (j.contentSnippet || ''))) continue; // health-only filter\n  rows.push({\n    title: title.slice(0, 300),\n    summary: null,\n    source_name: (source || 'Google News').slice(0, 60),\n    source_url: link,\n    category: 'Health',\n    location: 'Singapore',\n    severity: null,\n    image_url: pickImg(j.enclosure) || pickImg(j['media:thumbnail']) || pickImg(j['media:content']) || null,\n    published_at: j.isoDate || j.pubDate || null\n  });\n}\nreturn rows.map((r) => ({ json: r }));"
      },
      "id": "normalize",
      "name": "Normalize + health filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 200]
    },
    {
      "parameters": {
        "jsCode": "// De-dupe by source_url and emit a single array so the upsert is one request.\n// Supabase's UNIQUE(source_url) is the final guard.\nconst seen = new Set();\nconst rows = [];\nfor (const item of $input.all()) {\n  const r = item.json;\n  if (!r || !r.source_url || seen.has(r.source_url)) continue;\n  seen.add(r.source_url);\n  rows.push(r);\n}\nreturn [{ json: { rows: rows.slice(0, 15) } }];"
      },
      "id": "collect",
      "name": "Collect rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ypavrrtqngaljifkahcx.supabase.co/rest/v1/latest_updates?on_conflict=source_url",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "<SUPABASE_SERVICE_ROLE_KEY>" },
            { "name": "Authorization", "value": "Bearer <SUPABASE_SERVICE_ROLE_KEY>" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.rows) }}",
        "options": {}
      },
      "id": "upsert",
      "name": "Upsert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 200]
    }
  ],
  "connections": {
    "Every 15 min": { "main": [[{ "node": "Google News (SG health)", "type": "main", "index": 0 }]] },
    "Google News (SG health)": { "main": [[{ "node": "Normalize + health filter", "type": "main", "index": 0 }]] },
    "Normalize + health filter": { "main": [[{ "node": "Collect rows", "type": "main", "index": 0 }]] },
    "Collect rows": { "main": [[{ "node": "Upsert to Supabase", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
